.icon-play-circled2:before {content: "";}
.icon-search:before {content: "";}
.icon-heart-empty:before {content: "";}
.icon-down-open-big:before {content: "";}
.icon-up-open-big:before {content: "";}
.icon-twitter:before {content: "";}
.icon-facebook:before {content: "";}
.icon-menu:before {content: "";}
.icon-linkedin:before {content: "";}
.icon-comment-empty:before {content: "";}
.icon-youtube-play:before {content: "";}
.icon-vimeo:before {content: "";}
.icon-instagram:before {content: "";}