@media (max-width: 1700px) {
  .widget_tags .tags-col-1 {
    width: 48%;

    & a {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 1400px) {
  .box-style_article {
    flex-direction: column;
    height: auto;
    align-items: center;

    & .photo {
      width: 100%;
      margin-right: 0;
      transform: translateY(0);

    }
  }

  .widget .before-line-after:before,
  .widget .before-line-after:after {
    width: 10%;
  }
}

@media (max-width: 1200px) {
  .slider-box__text {
    width: 50%;
  }
  .content_center {
    width: 95%;
  }

  .menu-top > li {
    margin-right: 5%;

  }

  .post {
    flex-direction: column;
    align-items: center;
    & .col-half {
      width: 100%;

    }
  }



  .post__footer {
    margin-top: 1em;
  }
  .widget_tags .tags-col-1 {
    width: 48%;

    & a {
      font-size: 1rem;
    }
  }

}

@media (max-width: 968px) {
  .widget_tags .row {
   flex-direction: column;
    align-items: center;
  }
  .widget_tags .tags-col-1 {
   width: 70%;
  }

  .widget h4 {
    font-size: 1.8em;
  }
}

@media (max-width: 768px) {
  .slider-box__text {
    width: 70%;
  }
  .menu-toggle {
    transform: translateY(20px);

  }

  .slider-box__title {

    transition: all 0.3s;

    &.drive-down {
      top: 35%;

    }

  }

  .header .menu-social {
    font-size: 2rem;
  }

  .header nav {
    transform: translateY(-1000px);
    position: absolute;
    top: 90px;
    left: 5%;
    font-size: 1.5em;
    transition: all 0.3s;
    z-index: 5;

    &.view-block {
      transform: translateY(0px);
    }

  }

  .menu-top {
    flex-direction: column;
    //position: absolute;

    & li {

      margin-bottom: 1em;
    }

    & li > a {
      color: white;
    }
  }


  form[name='header'] {
    display: none;
  }

  .body-page {
    flex-direction: column;
    & .sidebar,
    & .content {
      width: 98%;
    }
  }

  footer .menu-social li {
    margin-left: 0.5em;

  }


}

@media (max-width: 668px) {
  .header .menu-social,
  .sidebar .widget_about .menu-social{
    font-size: 1.5rem;
  }

  .footer .menu-footer li {
    margin-left: 0.5em;
  }
}

@media (max-width: 568px) {

  :root {
    font-size: 0.8em;
  }

  .slider-box__text {
    //width: 90%;

    & h3 {
      font-size: 1.5rem;
    }
  }

  .header .menu-social li {
    margin-left: 0.5em;
  }

  footer .menu-social {
    flex-direction: column;
    align-items: center;
    & li {
      margin-bottom: 0.5em;
    }
  }

  .menu-footer {
    flex-direction: column;
    & li {
      margin-bottom: 0.5em;
    }
  }

 .date-comment {
   font-size: 1em;
 }
  .post .post__footer{
    font-size: 1rem;
  }

  .text h3,
  .text p{
    font-size: 1rem;
  }

  .widget_about .menu-social li {
    margin-left: 0.2em;
  }
}

