.pagination {
  margin-top:2em;
  margin-bottom: 1em;
  & ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    & li {
      margin-left: 3em;
      text-align: center;

      & a {
        color:#413f3f;
        font-size: 1.2rem;
        display: inline-block;

      }
    }

  }

  .current {
    border-radius: 50%;
    width: 55px;
    height: 50px;
    background-color: #ffc908;
    align-self: center;
    padding-top: 14px;
  }
}
